@model Stolons.ViewModels.WeekBasketManagement.VmWeekBasketHistory
@using Stolons.Helpers
@using Stolons.Models
@using Stolons.Tools
@using Microsoft.AspNetCore.Hosting;

<h2>Historique des commandes</h2>

@if (Model.ActiveAdherentStolon.Adherent.IsWebAdmin && Configurations.Environment.IsProduction() != true)
{
    <a class="btn btn-small btn-default" asp-controller="WeekBasketManagement" asp-action="LinkBillEntry">(Test)  Re créer le lien entre stolon bill et bill entry</a>
}

@{
    var years = Model.HistoryBills.Keys.Select(s => s.EditionDate.Year).Distinct().ToList();
    years.Sort();
    years.Reverse();
}

@foreach (var year in years)
{
    <div class="boxContainer">

        <h2>@year</h2>
        @{
            decimal averageWeekConsumers = 0;
            decimal averageWeekProducer = 0;
            decimal averageWeekAmount = 0;
            decimal averageWeekFee = 0;
            decimal yearWeekAmount = 0;
            decimal yearWeekFee = 0;
            var yearBills = Model.HistoryBills.Where(x => x.Key.EditionDate.Year == year);
            foreach (var bill in yearBills)
            {
                averageWeekConsumers += bill.Key.Consumers;
                averageWeekProducer += bill.Key.Producers;
                averageWeekAmount += bill.Key.Amount;
                averageWeekFee += bill.Key.FeeAmount;
                yearWeekAmount += bill.Key.Amount;
                yearWeekFee += bill.Key.FeeAmount;
            }
            averageWeekConsumers = averageWeekConsumers / yearBills.Count();
            averageWeekProducer = averageWeekProducer / yearBills.Count();
            averageWeekAmount = averageWeekAmount / yearBills.Count();
            averageWeekFee = averageWeekFee / yearBills.Count();
        }
        <p>Nombre de consommateur moyen par semaine : @averageWeekConsumers.ToString("0")</p>
        <p>Nombre de producteur sollicité moyen par semaine : @averageWeekProducer.ToString("0")</p>
        <p>Chiffre d'affaire moyen par semaine : @averageWeekAmount.ToString("0.00") €</p>
        <p>Commission perçue moyenne par semaine : @averageWeekFee.ToString("0.00") €</p>
        <br />
        <p>Chiffre d'affaire total annuel : @yearWeekAmount.ToString("0.00") €</p>
        <p>Commission perçue totale annuelle : @yearWeekFee.ToString("0.00") €</p>
        <br />

        <table class="table">
            <tr>
                <th>
                    Semaine
                </th>
                <th>
                    Date
                </th>
                <th>
                    Numéro
                </th>
                <th>
                    Consommateurs
                </th>
                <th>
                    Producteurs
                </th>
                <th>
                    CA TTC
                </th>
                <th>
                    Commissions
                </th>
                <th>
                </th>
            </tr>
            @foreach (var stolonBill in Model.HistoryBills.Where(x => x.Key.EditionDate.Year == year).OrderByDescending(x => x.Key.EditionDate))
            {
                <tr class="collapsableHeader hoverHighlight">
                    <td data-toggle="modal" data-target="#@stolonBill.Key.BillNumber">@stolonBill.Key.EditionDate.GetIso8601WeekOfYear() </td>
                    <td data-toggle="modal" data-target="#@stolonBill.Key.BillNumber">@stolonBill.Key.EditionDate  </td>
                    <td data-toggle="modal" data-target="#@stolonBill.Key.BillNumber">@stolonBill.Key.BillNumber</td>
                    <td data-toggle="modal" data-target="#@stolonBill.Key.BillNumber">@stolonBill.Key.Consumers </td>
                    <td data-toggle="modal" data-target="#@stolonBill.Key.BillNumber">@stolonBill.Key.Producers </td>
                    <td data-toggle="modal" data-target="#@stolonBill.Key.BillNumber">@stolonBill.Key.Amount.ToString("0.00") €</td>
                    <td data-toggle="modal" data-target="#@stolonBill.Key.BillNumber">@stolonBill.Key.FeeAmount.ToString("0.00") €</td>
                    <td>
                        <a class="btn btn-small btn-default" title="Voir" asp-action="ShowStolonsBill" asp-route-id="@stolonBill.Key.BillNumber">
                            <span class="glyphicon glyphicon-eye-open"> </span>
                        </a>
                        <a class="btn btn-small btn-default" title="Télécharger" target="_blank" href="/@stolonBill.Key.UrlPath">
                            <span class="glyphicon glyphicon-download-alt"> </span>
                        </a>
                        @if (Model.ActiveAdherentStolon.Authorized(Role.Admin))
                        {
                            <a class="btn btn-small btn-default" title="Regénérer" asp-action="RegenerateStolonBill" asp-route-id="@stolonBill.Key.StolonBillId" asp-route-redirectTo="History">
                                <span class="glyphicon glyphicon glyphicon-refresh"> </span>
                            </a>
                        }
                        @if (stolonBill.Key.HasBeenModified)
                        {
                            <a class="isa_warning"
                               title="@Html.Raw(stolonBill.Key.ModificationReason.Replace("\n\r", "<br />"))"
                               data-toggle="tooltip">
                                <i class="fas fa-exclamation-triangle"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
}

@foreach (var year in years)
{

    @foreach (var stolonBill in Model.HistoryBills.Where(x => x.Key.EditionDate.Year == year).OrderByDescending(x => x.Key.EditionDate))
    {
        <div class="modal" id="@stolonBill.Key.BillNumber" tabindex="-1" role="dialog">
            <div class="fullScreenModal modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">@stolonBill.Key.BillNumber du @stolonBill.Key.EditionDate</h4>
                    </div>
                    <div class="billModalContent">
                        @if (Model.ActiveAdherentStolon.Adherent.IsWebAdmin && Configurations.Environment.IsProduction() != true)
                        {
                            <a class="btn btn-small btn-default" asp-controller="WeekBasketManagement" asp-action="RegenerateOrders" asp-route-billNumber="@stolonBill.Key.BillNumber">(Test) Regénérer les pdfs</a>
                        }

                        <h3>Producteurs</h3>
                        <table class="table">
                            <tr>
                                <th>
                                    Numéro
                                </th>
                                <th>
                                    Raison sociale
                                </th>
                                <th>
                                    Téléphone
                                </th>
                                <th>
                                    CA TTC
                                </th>
                                <th>
                                    Commission totale
                                </th>
                                <th>
                                    Facture
                                </th>
                            </tr>
                            @foreach (var item in stolonBill.Value.ProducerBills.OrderBy(x => x.AdherentStolon.LocalId))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AdherentStolon.LocalId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AdherentStolon.Adherent.CompanyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AdherentStolon.Adherent.PhoneNumber)
                                    </td>
                                    <td>
                                        @(item.BillAmount.ToString("0.00") + "€ TTC")
                                    </td>
                                    <td>
                                        @(item.FeeAmount.ToString("0.00") + "€ TTC (" + item.ProducerFee + "%)")
                                    </td>
                                    <td>
                                        @{
                                            @item.BillNumber
                                            <a class="btn btn-small btn-default" title="Voir" target="_blank" href="/billsHistory/ShowBill/@item.BillNumber"><span class="glyphicon glyphicon glyphicon-eye-open"> </span></a>
                                            <a class="btn btn-small btn-default" title="Télécharger" target="_blank" href="/@Configurations.GetBillUrl(item)"><span class="glyphicon glyphicon glyphicon-download-alt"> </span></a>
                                            @if (item.HasBeenModified)
                                            {
                                                <a class="isa_warning" title="@Html.Raw(item.ModificationReason.Replace("\n\r", "<br/>"))"
                                                   data-toggle="tooltip">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                   Total :
                                </td>
                                <td>
                                    @{
                                        decimal producersAmount = 0;
                                        stolonBill.Value.ProducerBills.ForEach(x => producersAmount += x.BillAmount);
                                    }
                                    @(producersAmount.ToString("0.00") + "€ TTC")
                                </td>
                                <td>
                                    @{
                                        decimal producersFeeAmount = 0;
                                        stolonBill.Value.ProducerBills.ForEach(x => producersFeeAmount += x.FeeAmount);
                                    }
                                    @(producersFeeAmount.ToString("0.00") + "€ TTC")
                                </td>
                                <td>
                                    @((producersFeeAmount+ producersAmount).ToString("0.00") + "€ TTC")
                                </td>
                            </tr>
                        </table>
                        <h3>Consommateurs</h3>
                        <table class="table">
                            <tr>
                                <th>
                                    Numéro
                                </th>
                                <th>
                                    Nom
                                </th>
                                <th>
                                    Prénom
                                </th>
                                <th>
                                    Motant de la commande
                                </th>
                                <th>
                                    Facture
                                </th>
                            </tr>
                            @foreach (var item in stolonBill.Value.ConsumerBills.OrderBy(x => x.AdherentStolon.LocalId))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AdherentStolon.LocalId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AdherentStolon.Adherent.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AdherentStolon.Adherent.Surname)
                                    </td>
                                    <td>
                                        @(item.OrderAmount.ToString("0.00") + "€")
                                    <td>
                                        @{
                                            @item.BillNumber
                                            <a class="btn btn-small btn-default" title="Voir" target="_blank" href="/Orders/ShowOrder/@item.BillNumber"><span class="glyphicon glyphicon glyphicon-eye-open"> </span></a>
                                            <a class="btn btn-small btn-default" title="Télécharger" target="_blank" href="/@Configurations.GetBillUrl(item)"><span class="glyphicon glyphicon glyphicon-download-alt"> </span></a>
                                            @if (item.HasBeenModified)
                                            {
                                                <a class="isa_warning" title="@Html.Raw(item.ModificationReason.Replace("\n\r", "<br/>"))"
                                                   data-toggle="tooltip">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    TOTAL :
                                </td>
                                <td>
                                    @{
                                        decimal consumersAmount = 0;
                                        stolonBill.Value.ConsumerBills.ForEach(x => consumersAmount += x.OrderAmount);
                                    }
                                    @( consumersAmount.ToString("0.00") + "€")
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    }
}
