@model Stolons.ViewModels.WeekBasketManagement.VmWeekBasketManagement
@using Stolons.Helpers
@using Stolons.Models
@using Stolons.Tools
@using Stolons.Models.Transactions


<h1>Gestion des paniers de la semaine</h1>

@if (Model.Stolon.GetMode() == Stolon.Modes.DeliveryAndStockUpdate && Model.WeekStolonsBill != null)
{
    <div>
        @Model.ConsumerBills.Count panier(s) cette semaine
        @if (Model.WeekStolonsBill.HasBeenModified)
        {
            <div class="bannerRightInformations"
                 title="@Html.Raw(Model.WeekStolonsBill.ModificationReason.Replace("\n\r", "<br/>"))"
                 data-toggle="tooltip"
                 data-placement="bottom">
                <i class="fas fa-exclamation-triangle isa_warning"></i>
            </div>
        }
        <a class="btn btn-small btn-default" title="Voir" asp-action="ShowStolonsBill" asp-route-id="@Model.WeekStolonsBill.BillNumber"><span class="glyphicon glyphicon glyphicon-eye-open"> </span></a>
        @if (Model.WeekStolonsBill.GenerationError == false)
        {
            <a class="btn btn-small btn-default" title="Télécharger" target="_blank" href="/@Model.WeekStolonsBill.UrlPath"><span class="glyphicon glyphicon glyphicon-download-alt"> </span></a>

        }

        @if (Model.ActiveAdherentStolon.Authorized(Role.Admin))
        {
            <a class="btn btn-small btn-default" title="Regénérer" asp-action="RegenerateStolonBill" asp-route-id="@Model.WeekStolonsBill.StolonBillId" asp-route-redirectTo="WeekBaskets"><span class="glyphicon glyphicon glyphicon-refresh"> </span></a>
        }
    </div>
}
else
{
    <p>Pas de panier cette semaine :'(</p>
}



<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#consumersPickUp" name="consumersPickUp">Adhérents ayant une commande</a></li>
    <li><a data-toggle="tab" href="#producersDelivery" name="producersDelivery">Producteurs ayant à livrer</a></li>
    <li><a data-toggle="tab" href="#producersToPay" name="producersToPay">Producteurs en attente de paiement</a></li>
</ul>

<div class="tab-content">
    <div id="consumersPickUp" class="tab-pane active">
        <table class="table">
            <tr>
                <th>
                    Numéro
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Prénom
                </th>
                <th>
                    Téléphone
                </th>
                <th>
                    Stols
                </th>
                <th>
                    Action
                </th>
                <th>
                    Facture
                </th>
            </tr>
            @foreach (var item in Model.ConsumerBills.OrderBy(x => x.AdherentStolon.LocalId))
            {
                <tr id="@item.BillId">
                    <td>
                        @Html.DisplayFor(modelItem => item.AdherentStolon.LocalId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdherentStolon.Adherent.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdherentStolon.Adherent.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdherentStolon.Adherent.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdherentStolon.Token)Ṩ
                    </td>
                    <td>
                        <div class="dropdown btn-group">
                            <button class="dropdown-toggle btn btn-small btn-default" data-toggle="dropdown" href="#">
                                Récupération et paiement en ...
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li> <a href="#" onclick="payConsumerBill('@item.BillId','@((int)Transaction.PaymentMode.Check)')">Chèque</a></li>
                                <li> <a href="#" onclick="payConsumerBill('@item.BillId','@((int)Transaction.PaymentMode.Cash)')">Espèces</a></li>
                                <li> <a href="#" @(item.AdherentStolon.Token >= item.OrderAmount ? "" : "disable") onclick="payConsumerBill('@item.BillId','@((int)Transaction.PaymentMode.Token)')">Stol (Ṩ)</a></li>
                            </ul>
                        </div>
                        <a class="btn btn-small btn-default" href="#" title="Annuler le panier" onclick="deleteWeekBasket('@item.BillId')"><i class="fas fa-times"></i></a>
                    </td>
                    <td>
                        @{
                            @(item.OrderAmount.ToString("0.00") + "€ - " + item.BillNumber)
                            <a class="btn btn-small btn-default" title="Voir" target="_blank" href="/billsHistory/ShowBill/@item.BillNumber"><span class="glyphicon glyphicon glyphicon-eye-open"> </span></a>
                            <a class="btn btn-small btn-default" title="Télécharger" target="_blank" href="/@Configurations.GetBillUrl(item)"><span class="glyphicon glyphicon glyphicon-download-alt"> </span></a>
                            @if (item.HasBeenModified)
                            {
                                <div class="bannerRightInformations"
                                     title="@Html.Raw(item.ModificationReason.Replace("\n\r", "<br/>"))"
                                     data-toggle="tooltip"
                                     data-placement="bottom">
                                    <i class="fas fa-exclamation-triangle isa_warning"></i>
                                </div>
                            }
                        }
                    </td>
                </tr>
            }
        </table>

    </div>

    <div id="producersDelivery" class="tab-pane">
        <table class="table">
            <tr>
                <th>
                    Numéro
                </th>
                <th>
                    Raison social
                </th>
                <th>
                    Téléphone
                </th>
                <th>
                    Action
                </th>
                <th>
                    Bon de commande
                </th>
            </tr>
            @foreach (var item in Model.ProducerBills.Where(x => x.State == BillState.Pending).OrderBy(x => x.AdherentStolon.LocalId))
            {
                <tr id="@item.BillId">
                    <td>
                        @Html.DisplayFor(modelItem => item.AdherentStolon.LocalId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdherentStolon.Adherent.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdherentStolon.Adherent.PhoneNumber)
                    </td>
                    <td>
                        <a href="#" class="btn btn-small btn-default" onclick="validateProdDelivery('@item.BillId','@(((int)item.State) + 1)')">Valider la livraison</a>
                        <a href="#" class="btn btn-small btn-default open-correction-modal" data-bill-id="@item.BillId">Rectifier la livraison</a>
                    </td>
                    <td>
                        @{
                            @(item.OrderAmount.ToString("0.00") + "€ - " + item.OrderNumber)
                            <a class="btn btn-small btn-default" title="Voir" target="_blank" href="/Orders/ShowOrder/@item.OrderNumber"><span class="glyphicon glyphicon glyphicon-eye-open"> </span></a>
                            <a class="btn btn-small btn-default" title="Télécharger" target="_blank" href="/@Configurations.GetOrderUrl(item)"><span class="glyphicon glyphicon glyphicon-download-alt"> </span></a>
                            @if (item.HasBeenModified)
                            {

                                <div class="bannerRightInformations"
                                     title="@Html.Raw(item.ModificationReason.Replace("\n\r", "<br/>"))"
                                     data-toggle="tooltip"
                                     data-placement="bottom">
                                    <i class="fas fa-exclamation-triangle isa_warning"></i>
                                </div>

                            }
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div id="producersToPay" class="tab-pane">
        <table id="producersToPayTable" class="table">
            <tr>
                <th>
                    Numéro
                </th>
                <th>
                    Raison social
                </th>
                <th>
                    Téléphone
                </th>
                <th>
                    Action
                </th>
                <th>
                    Facture
                </th>
            </tr>
        </table>

        <script id="producerBillToPayTemplate" type="text/template">
            <tr id="<%= bill.BillId%>">
                <td>
                    <%= bill.AdherentStolon.LocalId%>
                </td>
                <td>
                    <%= bill.AdherentStolon.Adherent.CompanyName%>
                </td>
                <td>
                    <%= bill.AdherentStolon.Adherent.PhoneNumber%>
                </td>
                <td>
                    <% if (activeAdherentStolon.Role >= 2 || activeAdherentStolon.Adherent.IsWebAdmin ) { %>
                    <a href="#" class="btn btn-small btn-default" onclick="validateProdPayement('<%= bill.BillId%>','2')">Valider le paiement de la facture</a>
                    <% } %>
                </td>
                <td>
                    <%= bill.AmountAndFeeSummary %> -  <%= bill.BillNumber %>
                    <a class="btn btn-small btn-default" title="Voir" target="_blank" href="/billsHistory/ShowBill/<%= bill.BillNumber %>"><span class="glyphicon glyphicon glyphicon-eye-open"> </span></a>
                    <a class="btn btn-small btn-default" title="Télécharger" target="_blank" href="/bills/<%= bill.BillNumber %>.pdf"><span class="glyphicon glyphicon glyphicon-download-alt"> </span></a>
                    <% if (bill.HasBeenModified) { %>
                    <a class="bannerRightInformations"
                       title="<%= bill.ModificationReason %>"
                       data-toggle="tooltip"
                       data-placement="bottom">
                        <i class="fas fa-exclamation-triangle isa_warning"></i>
                    </a>
                    <% } %>
                </td>
            </tr>
        </script>

    </div>
</div>

<div id="correctionModal" class="modal fade"></div>

<script id="correctionModalTemplate" type="text/template">
    <div class="modals">
        <div class="modal-dialog fullScreenModal" id="correction-modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body" style="margin: auto;">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Rectification de la livraison producteur (<%= producerBill.get("AdherentStolon").Adherent.CompanyName %>)</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div style="height: 20px; ">

                        </div>
                        <table id="correction-table">
                            <colgroup>
                                <col>
                                </col>
                                <% _.forEach(producerBill.getProductStocks(), function(productStock) { %>
                                <col id="product-col-<%= productStock.get(" Id") %>">
                                </col>
                                <% }); %>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="crossed">
                                        <span class="th-crossed-left">Clients</span>
                                        <span class="th-crossed-right">Produits</span>
                                    </th>
                                    <% _.forEach(producerBill.getProductStocks(), function(productStock) { %>
                                    <th class="correction-product-description productMgtImage">
                                        <img src="<%= productStock.get(" Product").getPictureUrl("light") %>">
                                        <span><%= productStock.get("Product").get("Name") %></span>
                                    </th>
                                    <% }); %>
                                </tr>
                            </thead>
                            <tbody>
                                <%  _.forEach(producerBill.getConsumers(), function(consumer) { %>
                                <tr>
                                    <td>
                                        <span><%= consumer.Adherent.Surname %> <%= consumer.Adherent.Name  %> (<%= consumer.LocalId %>)</span>
                                    </td>
                                    <% _.forEach(producerBill.getProductStocks(), function(productStock) { %>
                                    <% var consumerBillEntry = producerBill.getBillEntry(consumer.Id, productStock.get('Id')); %>
                                    <% if (consumerBillEntry == null) { %>
                                    <td class="td-disabled correction-bill-entry">
                                        Pas de commande
                                    </td>
                                    <% } else if (consumerBillEntry.IsAssignedVariableWeigh === true) { %>
                                    <td class="td-disabled correction-bill-entry">
                                        Produit poids variable
                                    </td>
                                    <% } else  { %>
                                    <td>
                                        <div class="correction-bill-entry">
                                            <div class="productQuantityChanger">
                                                <a href="#" class="minus" data-bill-entry-id="<%= consumerBillEntry.Id %>">
                                                    <img src="/images/basket-remove.png" />
                                                </a>
                                                <span class="quantity">
                                                    <%= producerBill.getBillEntryQuantityString(consumerBillEntry.Id) %>
                                                </span>
                                                <a href="#" class="plus" data-bill-entry-id="<%= consumerBillEntry.Id %>">
                                                    <img src="/images/basket-add.png" />
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <% } %>
                                    <% }); %>
                                </tr>
                                <% }); %>
                                <tr>
                                    <td>
                                        <h5>Total</h5>
                                    </td>
                                    <% _.forEach(producerBill.getProductStocks(), function(productStock) { %>
                                    <% if (producerBill.isAssignedVariableWeigh(productStock) === true) { %>
                                    <td class="td-disabled correction-bill-entry">
                                        Produit poids variable
                                    </td>
                                    <% } else { %>
                                    <td>
                                        <div class="correction-bill-entry">


                                            <div class="productQuantityChanger">
                                                <a href="#" class="minus decrementTotal" data-product-stock-id="<%= productStock.get('Id') %>">
                                                    <img src="/images/basket-remove.png" />
                                                </a>
                                                <span class="quantity">
                                                    <%= producerBill.getProductStockTotalQuantityString(productStock.get('Id')) %>
                                                </span>
                                                <a href="#" class="plus incrementTotal" data-product-stock-id="<%= productStock.get('Id') %>">
                                                    <img src="/images/basket-add.png" />
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <% } %>
                                    <% }); %>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <label style="margin: auto;">Raison de l'erreur de livraison: </label>
                            <textarea id="correction-reason" value="<%= view.reason %>" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            &nbsp;
                        </div>
                        <div class="col-lg-5">
                            <% if (view.saveErrors) { %>
                            <span class="error"><%= view.saveErrors %></span>
                            <% } %>
                            <a id="validateCorrection" href="#" class="btn btn-small btn-default" <%= view.valid === true ? "" : "disabled" %> >Valider</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script src="/js/billModel.js"></script>
<script src="/js/productModel.js"></script>
<script src="/js/billsManagement.js"></script>
<script src="/js/weekBasketManagementScript.js"></script>
