<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using Stolons.ViewModels;
@model Stolons.ViewModels.Banner.BannerViewModel

@if (User.Identity.IsAuthenticated)
{
    <div class="nav container">
        <div class="row">
            <div class=" col-sm-1 col-xs-2">
                @if (Model.ActiveAdherentStolon.Adherent.AdherentStolons.Count != 1)
                {
                    <div class="stolon-avatar-banner-container">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <img src="@Model.ActiveAdherentStolon.Stolon.LogoFilePath" class="stolon-avatar-banner" />
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var adherentStolon in Model.ActiveAdherentStolon.Adherent.AdherentStolons)
                            {
                                if (!adherentStolon.IsActiveStolon)
                                {
                                    <li>
                                        @if (adherentStolon.Enable)
                                        {
                                            <a asp-controller="Home" asp-action="ChangeActiveStolon" asp-route-id="@adherentStolon.StolonId">
                                                <div class="stolon-avatar-banner-container">
                                                    <img src="@adherentStolon.Stolon.LogoFilePath" class="stolon-avatar-dropdown" />
                                                    @adherentStolon.Stolon.Label
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            <div class="stolon-avatar-banner-container">
                                                <img src="@adherentStolon.Stolon.LogoFilePath" class="stolon-avatar-dropdown" />
                                                <div class="warning-container isa_warning">
                                                    @adherentStolon.Stolon.Label
                                                    <i class="glyphicon glyphicon-warning-sign"></i>
                                                    <div class="warning-informations right">
                                                        Votre compte a été bloqué pour la raison suivante :@adherentStolon.DisableReason
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <img src="@Model.ActiveAdherentStolon.Stolon.LogoFilePath" class="stolon-avatar-banner" />

                }
            </div>
            <div class=" col-sm-7 col-xs-10">
                <div class="stolon-title">
                    <a asp-controller="Home" asp-action="StolonContact" asp-route-id="@Model.ActiveAdherentStolon.Stolon.Id">
                        <span>@Model.ActiveAdherentStolon.Stolon.Label</span>
                    </a>
                    par
                    <img src="~/images/logos/Logo_HD.png" style="max-width: 55px;" />
                </div>
                <div class="stolons-info">
                    <p class="information">@Html.Raw(Model.ActiveAdherentStolon.Stolon.Address)</p>
                </div>


            </div>
            <div class=" col-sm-4 basket-banner-container">
                <div class="basket-banner-border">
                    <div class="basket-banner-title ">
                        <!--ORDER CASE-->
                        @if (Model.ActiveAdherentStolon.Stolon.Mode == Stolon.Modes.Order)
                        {

                            string classToAdd = "";
                            if (Model.TempWeekBasket != null && Model.TempWeekBasket.TotalPrice != 0)
                            {
                                if (Model.TempWeekBasket?.Validated == false)
                                {
                                    classToAdd = "isa_warning";
                                }
                                else
                                {
                                    classToAdd = "isa_success";
                                }
                            }

                            <a asp-controller="WeekBasket" asp-action="Index" class="@classToAdd">
                                <img src="/images/panier.jpg" class="basket-banner-logo" />
                                @if (Model.TempWeekBasket == null || Model.TempWeekBasket.TotalPrice == 0)
                                {
                                    <span>Commander</span>
                                }
                                else
                                {
                                    <span>Mon panier (@Model.TempWeekBasket.TotalPrice.ToString("0.00")€)</span>
                                    @if (Model.TempWeekBasket?.Validated == false)
                                    {
                                        <div class="warning-container ">
                                            <i class="glyphicon glyphicon-warning-sign"></i>
                                            <div class="warning-informations right">
                                                Le panier n'est pas validé
                                            </div>
                                        </div>
                                    }
                                }

                            </a>
                        }
                        else
                        {
                            <!--DELIVERY CASE-->
                            if (Model.ConsumerBill == null)
                            {
                                <span>Pas de panier cette semaine</span>
                            }
                            else
                            {
                                <a asp-controller="Orders" asp-action="ShowBill" asp-route-id="@Model.ConsumerBill.BillNumber.ToString()">
                                    <img src="/images/panier.jpg" class="basket-banner-logo" />
                                    <span>Voir mon panier (@Model.ConsumerBill.OrderAmount.ToString("0.00")€)</span>
                                </a>
                            }
                        }
                    </div>
                    <div class="basket-banner-information">
                        <img src="~/images/order.jpg" />Commande : @Model.ActiveAdherentStolon.Stolon.GetStringOrderTime()
                        <br />
                        <img src="~/images/delivery.jpg" />Récupération : @Model.ActiveAdherentStolon.Stolon.GetStringPickUpTime()
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Accueil</a></li>
                        <li><a asp-controller="WeekBasket" asp-action="Index">Mon panier</a></li>
                        <li><a asp-controller="Producers" asp-action="Index">Nos producteurs</a></li>
                        @if (Model.ActiveAdherentStolon.IsProducer)
                        {
                            <li><a asp-controller="ProductsManagement" asp-action="Index">Mes produits et mes stocks</a></li>
                            <li><a asp-controller="News" asp-action="Index">Mes nouvelles</a></li>
                        }
                        @if (Model.ActiveAdherentStolon.Authorized(Role.Volunteer))
                        {
                            <li><a asp-controller="WeekBasketManagement" asp-action="Index">Gérer les paniers</a></li>
                            <li><a asp-controller="Users" asp-action="Index">Adhérents</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Administration
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Mails" asp-action="Index">Courriels</a></li>
                                    <li><a asp-controller="Transactions" asp-action="Index">Transactions</a></li>
                                    <li><a asp-controller="News" asp-action="Index">Les nouvelles</a></li>
                                    @if (Model.ActiveAdherentStolon.Authorized(Role.Admin))
                                    {
                                        <li><a asp-controller="Stolon" asp-action="Index">@Model.ActiveAdherentStolon.Stolon.Label</a></li>
                                    }
                                    @if (Model.ActiveAdherentStolon.Adherent.IsWebAdmin)
                                    {
                                        <li><a asp-controller="ApplicationConfig" asp-action="Index">Le site</a></li>
                                        <li><a asp-controller="Stolons" asp-action="Index">Les Stolons</a></li>
                                        <li><a asp-controller="ProductsManagement" asp-action="ManageFamilies">Familles de produits</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                <div class="navbar-right">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </div>
}
