@model Stolons.ViewModels.BillHistory.BillsViewModel
@using Stolons.Helpers
@using Stolons.Models

@if (Model.ActiveAdherentStolon.Id == Model.AdherentStolon.Id)
{
    <h2>Mes Factures et bons de commandes</h2>
}
else
{
    <h2>Factures de @Model.AdherentStolon.Adherent.Surname @Model.AdherentStolon.Adherent.Name</h2>
}

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#summary">Cumul par année <i class="fas fa-info pull-right"></i></a>
            </h4>
        </div>
        <div id="summary" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>
                            Année
                        </th>
                        <th>
                            Cumul HT
                        </th>
                        <th>
                            Cumul TVA
                        </th>
                        <th>
                            Cumul TTC
                        </th>
                        <th>
                            Cumul com-
                        </th>
                        <th>
                            Cumul net à payer
                        </th>
                    </tr>
                    @{
                        var years = Model.Bills.Select(s => s.EditionDate.Year).Distinct().ToList();
                        years.Sort();
                        years.Reverse();
                    }

                    @foreach (var year in years)
                    {
                        decimal totalWithoutTax = 0;
                        decimal totalTax = 0;
                        decimal totalWithTax = 0;
                        decimal totalFee = 0;
                        decimal totalToPay = 0;
                        foreach (var bill in Model.Bills.OrderBy(x => x.EditionDate).Where(x => x.EditionDate.Year == year))
                        {
                            totalWithoutTax += bill.OrderAmount - bill.TaxAmount;
                            totalTax += bill.TaxAmount;
                            totalWithTax += bill.OrderAmount;
                            totalFee += bill.FeeAmount;
                            totalToPay += bill.BillAmount;
                        }
                        <tr>
                            <td>@year</td>
                            <td>@totalWithoutTax.ToString("0.00") €</td>
                            <td>@totalTax.ToString("0.00") €</td>
                            <td>@totalWithTax.ToString("0.00") €</td>
                            <td>@totalFee.ToString("0.00") €</td>
                            <td>@totalToPay.ToString("0.00") €</td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

<div class="boxContainer">
    <div class="col-lg-5" style="overflow: scroll; max-height: 400px;">
        <table class="table">
            <tr>
                <th>
                    Bon de commandes
                </th>
                <th>
                    Montant
                </th>
                <th>

                </th>
            </tr>
            <tbody class="clickable-table">
                @{
                    foreach (var item in Model.Bills.Where(x => x.State == BillState.Pending).OrderBy(x => x.EditionDate))
                    {
                        <tr data-content='@((item as ProducerBill).HtmlOrderContent)'>
                            <td>
                                <i>
                                    Le @item.EditionDate.ToString("d")
                                    n°@Html.DisplayFor(modelItem => (item as ProducerBill).OrderNumber)
                                    A @Html.DisplayFor(modelItem => item.AdherentStolon.Stolon.Label)
                                </i>
                            </td>
                            <td>
                                @item.OrderAmount.ToString("0.00")€
                                <br />
                                @switch (item.State)
                                {
                                    case BillState.Delivered:
                                        @("Livré")
                                        break;
                                    case BillState.Paid:
                                        @("Payé")
                                        break;
                                    case BillState.Pending:
                                        @("(A livrer)")
                                        break;
                                }
                            </td>
                            <td>
                                <a class="btn btn-small btn-default" href="~/@(Configurations.GetOrderUrl(item as ProducerBill))" target="_blank">
                                    Télécharger
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <table class="table">
            <tr>
                <th>
                    Factures
                </th>
                <th>
                    Montant
                </th>
                <th>

                </th>
            </tr>
            <tbody class="clickable-table">
                @{
                    foreach (var item in Model.Bills.Where(x => x.State != BillState.Pending).OrderBy(x => x.EditionDate))
                    {
                        <tr data-content='@item.HtmlBillContent'>
                            <td>
                                <i>
                                    Le @item.EditionDate.ToString("d")
                                    n°@Html.DisplayFor(modelItem => item.BillNumber)
                                    A @Html.DisplayFor(modelItem => item.AdherentStolon.Stolon.Label)
                                </i>
                            </td>
                            <td>
                                @item.OrderAmount.ToString("0.00")€
                                <br />
                                @switch (item.State)
                                {
                                    case BillState.Delivered:
                                        @("Livré")
                                        break;
                                    case BillState.Paid:
                                        @("Payé")
                                        break;
                                    case BillState.Pending:
                                        @("(A livrer)")
                                        break;
                                }


                                @if (item.HasBeenModified)
                                {
                                    <div title="@Html.Raw(item.ModificationReason.Replace("\n\r", "<br/>"))"
                                         data-toggle="tooltip">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </div>
                                }
                            </td>
                            <td>
                                <a class="btn btn-small btn-default" href="~/@(Configurations.GetBillUrl(item))">
                                    Télécharger
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-7">
        <div id="billContent">

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.clickable-table tr').click(function () {
            var content = $(this).data("content");
            $('#billContent').html(content);
        });

    });
</script>
