<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using Stolons.ViewModels;
@model Stolons.ViewModels.Banner.BannerViewModel

@if (User.Identity.IsAuthenticated)
{
    <div class="nav container">
        <div class="row">
            <div class="col-lg-6 text-left" id="logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/logos/Logo_HD.png" style="max-width: 300px;" />
                </a>
            </div>
            <div class="col-lg-2" id="logo-stolon">

            </div>
            <div class=" col-lg-4 text-center">
                <a asp-controller="Home" asp-action="StolonContact" asp-route-id="@Model.ActiveAdherentStolon.Stolon.Id">
                    <h1>@Model.ActiveAdherentStolon.Stolon.Label</h1>
                </a>
                @if (Model.ActiveAdherentStolon.Adherent.AdherentStolons.Count != 1)
                {
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var adherentStolon in Model.ActiveAdherentStolon.Adherent.AdherentStolons)
                        {
                            if (adherentStolon.IsActiveStolon)
                            {
                                <li><a asp-controller="Home" asp-action="ChangeActiveStolon" asp-route-id="@adherentStolon.StolonId">@adherentStolon.Stolon.Label</a></li>
                            }
                        }
                    </ul>
                }
                <p class="information">@Model.ActiveAdherentStolon.Stolon.Address</p>
                <h2>Horaires paniers</h2>
                <p class="information">@Model.ActiveAdherentStolon.Stolon.GetStringPickUpTime()</p>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!--
                            <li><a asp-controller="PublicProducts" asp-action="Index">Nos produits</a></li>
                            <li><a asp-controller="PublicProducers" asp-action="Index">Nos producteurs</a></li>
                        -->
                        <li><a asp-controller="WeekBasket" asp-action="Index">Mon panier</a></li>
                        @if (Model.ActiveAdherentStolon.IsProducer)
                        {
                            <li><a asp-controller="ProductsManagement" asp-action="Index">Mes produits et mes stocks</a></li>
                            <li><a asp-controller="News" asp-action="Index">Mes nouvelles</a></li>
                        }
                        @if (Model.ActiveAdherentStolon.Authorized(Role.Volunteer))
                        {
                            <li><a asp-controller="WeekBasketManagement" asp-action="Index">Gérer les paniers</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Adhérents
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (Model.ActiveAdherentStolon.Stolon.StolonType == Stolon.OrganisationType.Association)
                                    {
                                        <li><a asp-controller="Users" asp-action="Index">Tous les adhérents</a></li>
                                        @if (Model.ActiveAdherentStolon.Stolon.UseSympathizer)
                                        {
                                            <li><a asp-controller="Sympathizers" asp-action="Index">Sympathisants</a></li>
                                        }
                                        <li><a asp-controller="Consumers" asp-action="Index">Consomateurs</a></li>
                                        <li><a asp-controller="Producers" asp-action="Index">Producteurs</a></li>
                                    }
                                    @if (Model.ActiveAdherentStolon.Stolon.StolonType == Stolon.OrganisationType.Producer)
                                    {
                                        <li><a asp-controller="Consumers" asp-action="Index">Consomateurs</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Administration
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Mails" asp-action="Index">Courriels</a></li>
                                    <li><a asp-controller="Transactions" asp-action="Index">Transactions</a></li>
                                    <li><a asp-controller="News" asp-action="Index">Les nouvelles</a></li>
                                    @if (Model.ActiveAdherentStolon.Authorized(Role.Admin))
                                    {
                                        <li><a asp-controller="Stolons" asp-route-id="@Model.ActiveAdherentStolon.Stolon.Id" asp-action="Details">@Model.ActiveAdherentStolon.Stolon.Label</a></li>
                                    }
                                    @if (Model.ActiveAdherentStolon.Adherent.IsWebAdmin)
                                    {
                                        <li><a asp-controller="ApplicationConfig" asp-action="Index">Le site</a></li>
                                        <li><a asp-controller="Stolons" asp-action="Index">Les Stolons</a></li>
                                        <li><a asp-controller="ProductsManagement" asp-action="ManageFamilies">Familles de produits</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                <div class="navbar-right">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </div>
}
