@model Stolons.ViewModels.Sympathizers.SympathizerViewModel

@{
    ViewData["Title"] = "Suppresion de : " + Model.Sympathizers.Surname +" " + Model.Sympathizers.Name;
}

<h2>@ViewData["Title"]</h2>

<h3>Etes vous sur de vouloir supprimer @Model.Sympathizers.Surname @Model.Sympathizers.Name</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizers.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizers.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizers.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizers.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizers.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizers.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizers.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizers.RegistrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizers.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizers.PostCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <a asp-action="Index" class="btn btn-small btn-default">Retourner aux sympathisants</a>
            <input type="submit" value="Supprimer" class="btn btn-small btn-default" />
        </div>
    </form>
</div>
