@model Stolons.ViewModels.Sympathizers.SympathizerViewModel

@{
    ViewData["Title"] = "Details de " + Model.Sympathizer.Surname + " "+ Model.Sympathizer.Name;
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizer.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizer.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizer.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizer.Surname)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizer.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizer.RegistrationDate)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizer.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizer.PostCode)
        </dd>        
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Sympathizer.Id" class="btn btn-small btn-default">Modifier @Model.Sympathizer.Surname @Model.Sympathizer.Name</a>
</p>
