@model Stolons.ViewModels.Sympathizers.SympathizerViewModel

@{
    ViewData["Title"] = "Details de " + Model.Sympathizers.Surname + " "+ Model.Sympathizers.Name;
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizers.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizers.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizers.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizers.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizers.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizers.Surname)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizers.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizers.RegistrationDate)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizers.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizers.PostCode)
        </dd>        
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Sympathizers.Id" class="btn btn-small btn-default">Modifier @Model.Sympathizers.Surname @Model.Sympathizers.Name</a>
    <a asp-action="Index" class="btn btn-small btn-default">Retourner aux adhérents</a>
</p>
