@model IEnumerable<ConsumerBill>
@using System
@using Stolons.Helpers
@using Stolons.Models

<h2>Mes commandes</h2>

<div class="boxContainer row">
    <div class="col-lg-5 col-md-5">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Commande
                    </th>
                    <th>
                        Montant
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody class="clickable-table">
                @{
                    decimal total = 0;
                    foreach (var item in Model.OrderBy(x => x.EditionDate))
                    {
                        <div id="html_content_@item.BillId" class="hidden">
                            @item.HtmlBillContent
                        </div>
                        total += item.OrderAmount;
                        <tr billId="@item.BillId">
                            <td>
                                <i>
                                    Le @item.EditionDate.ToString("d")
                                    n°@Html.DisplayFor(modelItem => item.BillNumber)
                                    A @Html.DisplayFor(modelItem => item.AdherentStolon.Stolon.Label)
                                </i>
                            </td>
                            <td>
                                @item.OrderAmount.ToString("0.00")€
                                <br />
                                @switch (item.State)
                                {
                                    case BillState.Delivered:
                                        @("Livré")
                                        break;
                                    case BillState.Paid:
                                        @("Payé")
                                        break;
                                    case BillState.Pending:
                                        @("(A récupérer)")
                                        break;
                                }

                                @if (item.HasBeenModified)
                                {
                                    <div class="bannerRightInformations"
                                         title="@Html.Raw(item.ModificationReason.Replace("\n\r", "<br/>"))"
                                         data-toggle="tooltip"
                                         data-placement="bottom">
                                        <i class="glyphicon glyphicon-warning-sign"></i>
                                    </div>
                                }
                            </td>
                            <td>
                                <a class="btn btn-small btn-default" target="_blank" href="@(Configurations.GetBillUrl(item))">
                                    Télécharger
                                </a>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
        <p>Montant total : @total.ToString("0.00") €</p>
    </div>
    <div class="col-lg-7 col-md-7">
        <div id="billContent">

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.clickable-table tr').click(function () {
            var billId = $(this).attr("billId");
            var content = $("#html_content_" + billId).html();
            content = $("<textarea />").html(content).text();
            $('#billContent').html(content);
        });
    });
</script>
