@{
    ViewData["Title"] = "Qui sommes nous ?";
}

<h2>@ViewData["Title"]</h2>

<p>@Html.Raw(Configurations.Stolon.AboutPageText)</p>

<h3>Nous contacter:</h3>

<address>
    <strong>Adresse : </strong>@Configurations.Stolon.Address<br />
    <strong>Téléphone : </strong>@Configurations.Stolon.PhoneNumber<br />
    <strong>Courriel:</strong> <a href="mailto:@Configurations.Stolon.ContactMailAddress">@Configurations.Stolon.ContactMailAddress</a><br/>
</address>
