@model IEnumerable<Stolons.Models.IBill>
@using Stolons.Helpers
@using Stolons.Models

@{
    ViewData["Title"] = "Mes Factures";
}

<h2>@ViewData["Title"]</h2>

@if (Model.Any())
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EditionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        @{
            double total = 0;
            foreach (var item in Model)
            {
                total += item.Amount;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EditionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillNumber)
                    </td>
                    <td>
                        @(EnumHelper<BillState>.GetDisplayValue(@item.State))
                    </td>        
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount) €
                    </td>
                    <td>
                        <a asp-action="ShowBill" asp-controller="Bills"  asp-route-id="@item.BillNumber" class="btn btn-small btn-default" >Afficher</a>
                    </td>
                    <td>
                        @{
                            <a href="@Configurations.GetUrl(item)" class="btn btn-small btn-default">Télécharger</a>
                        }
                    </td>
                </tr>
            }
        }
    </table>
    <h3>Total des factures : @total</h3>
}
else
{
    <p>Aucune facture</p>
}
