@model Stolons.ViewModels.Adherents.AdherentStolonViewModel

@{
    ViewData["Title"] = "Details de " + Model.AdherentStolon.Adherent.Surname + " "+ Model.AdherentStolon.Adherent.Name;
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdherentStolon.LocalId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdherentStolon.LocalId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdherentStolon.Adherent.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdherentStolon.Adherent.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdherentStolon.Adherent.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdherentStolon.Adherent.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdherentStolon.Adherent.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdherentStolon.Adherent.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdherentStolon.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdherentStolon.RegistrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdherentStolon.Adherent.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdherentStolon.Adherent.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdherentStolon.Adherent.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdherentStolon.Adherent.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdherentStolon.Adherent.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdherentStolon.Adherent.PostCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdherentStolon.Adherent.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdherentStolon.Adherent.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdherentStolon.SubscriptionPaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdherentStolon.SubscriptionPaid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdherentStolon.Enable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdherentStolon.Enable)
        </dd>
        @if (!Model.AdherentStolon.Enable)
        {
            <dt>
                @Html.DisplayNameFor(model => model.AdherentStolon.DisableReason)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AdherentStolon.DisableReason)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.AdherentStolon.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdherentStolon.Role)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.AdherentStolon.Adherent.Id" class="btn btn-small btn-default">Modifier @Model.AdherentStolon.Adherent.Surname @Model.AdherentStolon.Adherent.Name</a>
</p>
