@model IEnumerable<Stolons.Models.Users.Consumer>

@{
    ViewData["Title"] = "Liste des consomateurs";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" asp-controller="Consumers" class="btn btn-small btn-default">Ajouter un nouveau consomateurs</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(item => item.Id)
        </th>
        <th>
            @Html.DisplayNameFor(item => item.Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(item => item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(item => item.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(item => item.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(item => item.Cotisation)
        </th>
        <th>
            @Html.DisplayNameFor(item => item.Enable)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="tdAvatarList">
                <div class="userListAvatar" >
                    <img src="@Html.DisplayFor(modelItem => item.Avatar)" class="responsiveImage circleAvatarDiv"  />
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cotisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enable)
            </td>
            <td>
                <div class="dropdown">
                    <a class="dropdown-toggle btn btn-small btn-default" data-toggle="dropdown" href="#">
                        Actions
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a asp-action="ShowBills" asp-route-id="@item.Id">Voir factures</a></li>
                        <li><a asp-action="Details" asp-route-id="@item.Id">Voir détail</a></li>
                        <li><a asp-action="Edit" asp-route-id="@item.Id">Modifier</a></li>
                        @if (User.IsInRole(Configurations.Role.Administrator.ToString()))
                        {
                            <li><a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a></li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>
