@using Stolons.ViewModels.Stolons;
@model StolonViewModel


<h3>Êtes vous sur de vouloir supprimer @Model.Stolon.Label</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stolon.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stolon.Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stolon.LogoFileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stolon.LogoFileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stolon.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stolon.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stolon.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stolon.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stolon.ContactMailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stolon.ContactMailAddress)
        </dd>
    </dl>
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-small btn-default" />
        </div>
    </form>
</div>
