@using Stolons.Helpers;
@using Stolons.ViewModels.Stolons;
@model StolonMembersViewModel


<h2>Membres de @Model.Stolon.Label</h2>

<!--Il n'y a pas d'administrateur à ce Stolon-->
@if (!Model.AdherentsStolons.Any(x => x.Role == Role.Admin))
{
        <p>Aucun administrateur gére @Model.Stolon.Label</p>
    @if (Model.Stolon.StolonType == Stolon.OrganisationType.Association)
    {

    }
    <a asp-controller="Stolons" asp-action="AddExistingAdherent" asp-route-id="@Model.Stolon.Id" class="btn btn-small btn-default">Ajouter un adhérent Stolons existant</a>
}

@if (!Model.AdherentsStolons.Any())
{
    <p>Aucun adhérent</p>
}
else
{
    @if (Model.Stolon.UseSympathizer)
    {
        <h3>Sympathisants</h3>
        @if (!Model.Sympathizers.Any())
        {
            <p>Aucun sympathisant</p>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(item => item.AdherentsStolons.First().Adherent.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(item => item.AdherentsStolons.First().Adherent.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(item => item.AdherentsStolons.First().Adherent.PostCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(item => item.AdherentsStolons.First().Adherent.Email)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Sympathizers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.PostCode)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Email)
                        </th>
                    </tr>
                }
            </table>
        }
    }
    <h3>Consomateurs</h3>
    @if (!Model.AdherentsStolons.Any(x => !x.IsProducer))
    {
        <p>Aucun consomateur</p>
        <a asp-controller="Stolons" asp-action="CreateConsumer" asp-route-id="@Model.Stolon.Id" class="btn btn-small btn-default">Ajouter un consomateur</a>
    }
    else
    {
        <a asp-controller="Stolons" asp-action="CreateConsumer" asp-route-id="@Model.Stolon.Id" class="btn btn-small btn-default">Ajouter un consomateur</a>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().LocalId)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Adherent.AvatarFileName)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Adherent.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Adherent.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Adherent.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Token)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().SubscriptionPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Enable)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Role)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.AdherentsStolons.Where(x => !x.IsProducer))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalId)
                    </td>
                    <td class="tdAvatarList">
                        <div class="userListAvatar">
                            <img src="@Html.DisplayFor(modelItem => item.Adherent.AvatarFilePath)" class="responsiveImage circleAvatarDiv" />
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adherent.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adherent.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adherent.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Token)𝞫
                    </td>
                    @if (item.SubscriptionPaid)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.SubscriptionPaid)
                        </td>
                    }
                    else
                    {
                        <td bgcolor="#ff8000">
                            @Html.DisplayFor(modelItem => item.SubscriptionPaid)
                        </td>
                    }
                    @if (item.Enable)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Enable)
                        </td>
                    }
                    else
                    {
                        <td bgcolor="#ff0000">
                            @Html.DisplayFor(modelItem => item.Enable)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <th>
                        <div class="dropdown">
                            <a class="dropdown-toggle btn btn-small btn-default" data-toggle="dropdown" href="#">
                                Actions
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-action="DetailsAdherent" asp-route-id="@item.Id">Voir détail</a></li>
                                <li><a asp-action="SetAsProducer" asp-route-id="@item.Id">Passer producteur</a></li>
                                @if (item.Role != Role.Adherent)
                                {
                                    <li><a asp-action="SetAsAdherent" asp-route-id="@item.Id">Passer adhérent</a></li>
                                }
                                @if (item.Role != Role.Volunteer)
                                {
                                    <li><a asp-action="SetAsVolunteer" asp-route-id="@item.Id">Passer bénévole</a></li>
                                }
                                @if (item.Role != Role.Admin)
                                {
                                    <li><a asp-action="SetAsAdmin" asp-route-id="@item.Id">Passer administrateur</a></li>
                                }
                            </ul>
                        </div>
                    </th>
                </tr>
            }
        </table>
    }

    @if (Model.Stolon.StolonType == Stolon.OrganisationType.Producer)
    {
        <h3>Producteur gérant</h3>
    }
    @if (Model.Stolon.StolonType == Stolon.OrganisationType.Association)
    {
        <h3>Producteurs</h3>
    }

    @if (!Model.AdherentsStolons.Any(x => x.IsProducer))
    {
        <p>Aucun producteur</p>
        <a asp-controller="Stolons" asp-action="CreateProducer" asp-route-id="@Model.Stolon.Id" class="btn btn-small btn-default">Ajouter un producteur</a>
    }
    else
    { 
        @if (Model.Stolon.StolonType == Stolon.OrganisationType.Association)
        {
            <a asp-controller="Stolons" asp-action="CreateProducer" asp-route-id="@Model.Stolon.Id" class="btn btn-small btn-default">Ajouter un producteur</a>
        }

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().LocalId)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Adherent.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Adherent.AvatarFileName)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Adherent.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Adherent.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Adherent.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().SubscriptionPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Enable)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.AdherentsStolons.First().Role)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.AdherentsStolons.Where(x => x.IsProducer))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adherent.CompanyName)
                    </td>
                    <td class="tdAvatarList">
                        <div class="userListAvatar">
                            <img src="@Html.DisplayFor(modelItem => item.Adherent.AvatarFilePath)" class="responsiveImage circleAvatarDiv" />
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adherent.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adherent.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adherent.PhoneNumber)
                    </td>
                    @if (item.SubscriptionPaid)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.SubscriptionPaid)
                        </td>
                    }
                    else
                    {
                        <td bgcolor="#ff8000">
                            @Html.DisplayFor(modelItem => item.SubscriptionPaid)
                        </td>
                    }
                    @if (item.Enable)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Enable)
                        </td>
                    }
                    else
                    {
                        <td bgcolor="#ff0000">
                            @Html.DisplayFor(modelItem => item.Enable)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <th>
                        <div class="dropdown">
                            <a class="dropdown-toggle btn btn-small btn-default" data-toggle="dropdown" href="#">
                                Actions
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-action="DetailsAdherent" asp-route-id="@item.Id">Voir détail</a></li>
                                <li><a asp-action="SetAsAdherent" asp-route-id="@item.Id">Passer consomateur</a></li>
                                @if (item.Role != Role.Adherent)
                                {
                                    <li><a asp-action="SetAdherent" asp-route-id="@item.Id">Passer adhérent</a></li>
                                }
                                @if (item.Role != Role.Volunteer)
                                {
                                    <li><a asp-action="SetVolunteer" asp-route-id="@item.Id">Passer bénévole</a></li>
                                }
                                @if (item.Role != Role.Admin)
                                {
                                    <li><a asp-action="SetAdmin" asp-route-id="@item.Id">Passer administrateur</a></li>
                                }
                            </ul>
                        </div>
                    </th>
                </tr>
            }
        </table>
    }
}
