@model Stolons.ViewModels.Stolons.StolonViewModel

@functions
{
    string DayToFrench(DayOfWeek dayOfWeekValue)
    {
        var culture = new System.Globalization.CultureInfo("fr-FR");
        return culture.DateTimeFormat.GetDayName(dayOfWeekValue);
    }
}

<div class="form-horizontal">
    <hr />
    <input asp-for="Stolon.Id" hidden="hidden" />
    <input asp-for="Stolon.LogoFileName" hidden="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <h3>Informations</h3>
    <div class="form-group">
        <label asp-for="Stolon.StolonType" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Stolon.StolonType" asp-items="Html.GetEnumSelectList<Stolon.OrganisationType>()" class="form-control"></select>
            <span asp-validation-for="Stolon.StolonType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.Label" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.Label" class="form-control" />
            <span asp-validation-for="Stolon.Label" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.LogoFileName" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input id="image" type="file" accept="image/*" name="uploadFile" class="form-control">
        </div>
        <div class="col-md-4">
            <img id="image1Preview" src="@("\\"+Model.Stolon.LogoFilePath)" class="imgPreview" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.Address" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Stolon.Address" class="form-control"></textarea>
            <span asp-validation-for="Stolon.Address" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.PhoneNumber" class="form-control" />
            <span asp-validation-for="Stolon.PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.ContactMailAddress" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.ContactMailAddress" class="form-control" />
            <span asp-validation-for="Stolon.ContactMailAddress" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.Latitude" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.Latitude" class="form-control" />
            <span asp-validation-for="Stolon.Latitude" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.Longitude" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.Longitude" class="form-control" />
            <span asp-validation-for="Stolon.Longitude" class="text-danger"></span>
        </div>
    </div>


    <h3>Configurations</h3>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <input asp-for="Stolon.UseSympathizer" />
                <label asp-for="Stolon.UseSympathizer"></label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <input asp-for="Stolon.IsModeSimulated" />
                <label asp-for="Stolon.IsModeSimulated"></label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.SimulationMode" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Stolon.SimulationMode" asp-items="Html.GetEnumSelectList<Stolon.Modes>()" class="form-control"></select>
            <span asp-validation-for="Stolon.SimulationMode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.State" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Stolon.State" asp-items="Html.GetEnumSelectList<Stolon.StolonState>()" class="form-control"></select>
            <span asp-validation-for="Stolon.State" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.StolonStateMessage" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Stolon.StolonStateMessage" class="form-control"></textarea>
            <span asp-validation-for="Stolon.StolonStateMessage" class="text-danger"></span>
        </div>
    </div>

    <h3>Textes</h3>
    <div class="form-group">
        <label asp-for="Stolon.AboutText" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Stolon.AboutText" class="form-control"></textarea>
            <span asp-validation-for="Stolon.AboutText" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.JoinUsText" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Stolon.JoinUsText" class="form-control"></textarea>
            <span asp-validation-for="Stolon.JoinUsText" class="text-danger"></span>
        </div>
    </div>

    <h3>Comissions</h3>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <input asp-for="Stolon.UseProducersFee" />
                <label asp-for="Stolon.UseProducersFee"></label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.ProducersFee" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.ProducersFee" class="form-control" />
            <span asp-validation-for="Stolon.ProducersFee" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <input asp-for="Stolon.UseSubscipstion" />
                <label asp-for="Stolon.UseSubscipstion"></label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.SympathizerSubscription" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.SympathizerSubscription" class="form-control" />
            <span asp-validation-for="Stolon.SympathizerSubscription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.ConsumerSubscription" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.ConsumerSubscription" class="form-control" />
            <span asp-validation-for="Stolon.ConsumerSubscription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.ProducerSubscription" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.ProducerSubscription" class="form-control" />
            <span asp-validation-for="Stolon.ProducerSubscription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.SubscriptionStartMonth" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Stolon.SubscriptionStartMonth" asp-items="Html.GetEnumSelectList<Stolon.Month>()" class="form-control"></select>
            <span asp-validation-for="Stolon.SubscriptionStartMonth" class="text-danger"></span>
        </div>
    </div>


    <h3>Paniers</h3>



    <div class="form-group">
        <label asp-for="Stolon.OrderDeliveryMessage" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Stolon.OrderDeliveryMessage" class="form-control"></textarea>
            <span asp-validation-for="Stolon.OrderDeliveryMessage" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.OrderDayStartDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Stolon.OrderDayStartDate" class="form-control">
                @foreach (DayOfWeek item in Enum.GetValues(typeof(DayOfWeek)))
                {
                    <option value="@item">@DayToFrench(item)</option>
                }
            </select>
            <span asp-validation-for="Stolon.OrderDayStartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.OrderHourStartDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.OrderHourStartDate" class="form-control" />
            <span asp-validation-for="Stolon.OrderHourStartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.OrderMinuteStartDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.OrderMinuteStartDate" class="form-control" />
            <span asp-validation-for="Stolon.OrderMinuteStartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.DeliveryAndStockUpdateDayStartDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Stolon.DeliveryAndStockUpdateDayStartDate" class="form-control">
                @foreach (DayOfWeek item in Enum.GetValues(typeof(DayOfWeek)))
                {
                    <option value="@item">@DayToFrench(item)</option>
                }
            </select>
            <span asp-validation-for="Stolon.DeliveryAndStockUpdateDayStartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.DeliveryAndStockUpdateDayStartDateHourStartDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.DeliveryAndStockUpdateDayStartDateHourStartDate" class="form-control" />
            <span asp-validation-for="Stolon.DeliveryAndStockUpdateDayStartDateHourStartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.DeliveryAndStockUpdateDayStartDateMinuteStartDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.DeliveryAndStockUpdateDayStartDateMinuteStartDate" class="form-control" />
            <span asp-validation-for="Stolon.DeliveryAndStockUpdateDayStartDateMinuteStartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.BasketPickUpStartDay" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Stolon.BasketPickUpStartDay" class="form-control">
                @foreach (DayOfWeek item in Enum.GetValues(typeof(DayOfWeek)))
                {
                    <option value="@item">@DayToFrench(item)</option>
                }
            </select>
            <span asp-validation-for="Stolon.BasketPickUpStartDay" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.BasketPickUpStartHour" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.BasketPickUpStartHour" class="form-control" />
            <span asp-validation-for="Stolon.BasketPickUpStartHour" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.BasketPickUpStartMinute" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.BasketPickUpStartMinute" class="form-control" />
            <span asp-validation-for="Stolon.BasketPickUpStartMinute" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.BasketPickEndUpDay" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Stolon.BasketPickEndUpDay" class="form-control">
                @foreach (DayOfWeek item in Enum.GetValues(typeof(DayOfWeek)))
                {
                    <option value="@item">@DayToFrench(item)</option>
                }
            </select>
            <span asp-validation-for="Stolon.BasketPickEndUpDay" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.BasketPickUpEndHour" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.BasketPickUpEndHour" class="form-control" />
            <span asp-validation-for="Stolon.BasketPickUpEndHour" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stolon.BasketPickUpEndMinute" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Stolon.BasketPickUpEndMinute" class="form-control" />
            <span asp-validation-for="Stolon.BasketPickUpEndMinute" class="text-danger"></span>
        </div>
    </div>


    <h3>Bon plans</h3>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <input asp-for="Stolon.GoodPlan" />
                <label asp-for="Stolon.GoodPlan"></label>
            </div>
        </div>
    </div>
</div>
