<div class="row">
    <div class="col-lg-12 text-center">
        <h2>@Model.Stolon.Label</h2>
        <p class="information">@Model.Stolon.Address</p>
        <p class="information">@Model.Stolon.PhoneNumber</p>
        <p class="information"><a href="mailto:@Model.Stolon.ContactMailAddress">@Model.Stolon.ContactMailAddress</a></p>

        <div class="col-lg-12" id="links">
            <div class="col-lg-offset-3 col-lg-3 text-center"><a href="#" class="main-links" data-toggle="modal" data-target="#join-us">Rejoignez-nous</a></div>
            <div class="col-lg-3 text-center"><a href="#" class="main-links" data-toggle="modal" data-target="#connexion">Se connecter</a></div>
        </div>

        <h3>Panier</h3>
        <p class="information">Récupération: le Jeudi de 15h00 à 18h30</p>

        <h3>Produits</h3>
        <div class="tiny-pictures">
            @foreach (var productType in Model.AvailableProductFamillyAndType)
            {
                @if (@productType.Key.Image != null)
                {
                    <img src="/@productType.Key.Image" title="@productType.Key.Name" />
                }
            }
        </div>

        <h3>Services</h3>
        <div class="tiny-pictures">
            <img src="~/images/productFamilies/alcool.jpg" />
            <img src="~/images/productFamilies/confitures.jpg" />
            <img src="~/images/productFamilies/fruits.jpg" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 producersMapContainer">
        <div id="producerModal" class="modals"></div>
        <div id="map" style="height: 400px"></div>
    </div>
</div>

<div class="row">
    <h1 class="col-lg-12 text-center">Qui sommes nous ?</h1>
    <div class="col-lg-12 text-center" id="presentation-text">@Model.Stolon.AboutText</div>
</div>

<div class="modal fade" id="join-us" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Rejoignez-nous !</h4>
            </div>
            <div class="modal-body">
                Pour nous rejoindre, rien de plus simple. Venez nous voir lors d'une permanence située à l'adresse suivant: <br />
                <p class="information text-center">Place de la république 07000 Privas</p>
                <p class="information text-center">Pour tout renseignement, contactez nous !</p>
                <p class="information text-center">06 54 84 25 12</p>
                <p class="information text-center">contact@stolons.org</p>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("Templates/ProducerModalTemplate"); }

<script src="~/lib/leaflet.js"></script>
<script src="~/js/publicProducers.js"></script>