@using Stolons.ViewModels.Adherents
@model AdherentsViewModel


@if (Model.ActiveAdherentStolon.Stolon.StolonType == Stolon.OrganisationType.Association)
{
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="@("#allUsers"+Model.Stolon.Id)">Tous les adhérents</a></li>
        @if (Model.Stolon.UseSympathizer)
        {
            <li><a data-toggle="tab" href="@("#sympathizers"+Model.Stolon.Id)">Sympathisants</a></li>
        }
        <li><a data-toggle="tab" href="@("#consumers"+Model.Stolon.Id)">Consomateurs</a></li>
        <li><a data-toggle="tab" href="@("#producers"+Model.Stolon.Id)">Producteurs</a></li>
    </ul>

    <div class="tab-content">
        <div id="@("allUsers"+Model.Stolon.Id)" class="tab-pane active">
            @{
                Html.RenderPartial("../Users/ShowUsers", Model.IAdherents);
            }
        </div>
        @if (Model.Stolon.UseSympathizer)
        {
            <div id="@("sympathizers"+Model.Stolon.Id)" class="tab-pane">
                @{
                    Html.RenderPartial("../Users/ShowSympathizers", Model.SympathizersViewModel);
                }
            </div>
        }
        <div id="@("consumers"+Model.Stolon.Id)" class="tab-pane">
            @{
                Html.RenderPartial("../Users/ShowConsumers", Model.AdherentsStolonViewModel);
            }
        </div>
        @if (Model.Stolon.StolonType == Stolon.OrganisationType.Association || Model.ActiveAdherentStolon.Adherent.IsWebAdmin)
        {
            <div id="@("producers"+Model.Stolon.Id)" class="tab-pane">
                @{
                    Html.RenderPartial("../Users/ShowProducers", Model.AdherentsStolonViewModel);
                }
            </div>
        }
    </div>
}

@if (Model.ActiveAdherentStolon.Stolon.StolonType == Stolon.OrganisationType.Producer)
{
    Html.RenderPartial("../Users/ShowConsumers", Model.AdherentsStolonViewModel);
}

<script>

    function showAddAdherent(clickedElement) {
        $("#bodyAndFooterModal .modal-title").html($(clickedElement).attr("data-title"));
        var dataid = $(clickedElement).attr("data-id");
        var edition = $(clickedElement).attr("data-edition");
        showAddAdherentAjax(dataid, edition);
    }

    function showAddAdherentAjax(dataId, edition) {
        var link = '@Html.Raw(Url.Action("_PartialAddAdherent", "Users", new {  edition ="-1", stolonId = "-2"}))'
        link = link.replace("-1", edition);
        link = link.replace("-2", dataId);

        $.ajax({
            type: "GET",
            url: link,
            error: function(data)
            {},
            success: function (data) {
                $("#bodyAndFooterModal .modal-bodyAndFooter").html(data);
                $('#bodyAndFooterModal').modal('show');
            },
        });
    }


    function showDisableAccount(clickedElement) {
        $("#bodyAndFooterModal .modal-title").html($(clickedElement).attr("data-title"));
        var dataid = $(clickedElement).attr("data-id");
        showDisableAccountAjax(dataid);
    }

    function showDisableAccountAjax(dataId) {
        var link = '@Url.Action("_PartialDisableAdherent", "Users", new { id = "-1"})'
        link = link.replace("-1", dataId);

        $.ajax({
            type: "GET",
            url: link,
            error: function(data)
            {},
            success: function (data) {
                $("#bodyAndFooterModal .modal-bodyAndFooter").html(data);
                $('#bodyAndFooterModal').modal('show');
            },
        });
    }


    function showDetailsAdherent(clickedElement) {
        $("#bodyAndFooterModal .modal-title").html($(clickedElement).attr("data-title"));
        var dataid = $(clickedElement).attr("data-id");
        showDetailsAdherentAjax(dataid);
    }

    function showDetailsAdherentAjax(dataId) {
        var link = '@Url.Action("_PartialDetailsAdherent", "Users", new { id = "-1"})'
        link = link.replace("-1", dataId);

        $.ajax({
            type: "GET",
            url: link,
            error: function(data)
            {},
            success: function (data) {
                $("#bodyAndFooterModal .modal-bodyAndFooter").html(data);
                $('#bodyAndFooterModal').modal('show');
            },
        });
    }


    function showCreateAdherent(clickedElement) {
        $("#bodyAndFooterModal .modal-title").html($(clickedElement).attr("data-title"));
        var dataid = $(clickedElement).attr("data-id");
        var edition = $(clickedElement).attr("data-edition");
        showCreateAdherentAjax(edition,dataid);
    }

    function showCreateAdherentAjax(edition,dataid) {
        var link = '@(Html.Raw(Url.Action("_PartialCreateAdherent", "Users", new { edition ="-1", stolonId = "-2" })))'
        link = link.replace("-1", edition);
        link = link.replace("-2", dataid);

        $.ajax({
            type: "GET",
            url: link,
            error: function(data)
            {},
            success: function (data) {
                $("#bodyAndFooterModal .modal-bodyAndFooter").html(data);
                $('#bodyAndFooterModal').modal('show');
            },
        });
    }

    function showEditAdherent(clickedElement) {
        $("#bodyAndFooterModal .modal-title").html($(clickedElement).attr("data-title"));
        var dataid = $(clickedElement).attr("data-id");
        showEditAdherentAjax(dataid);
    }

    function showEditAdherentAjax(dataId) {
        var link = '@Url.Action("_PartialEditAdherent", "Users", new { id ="-1"})'
        link = link.replace("-1", dataId);

        $.ajax({
            type: "GET",
            url: link,
            error: function(data)
            {},
            success: function (data) {
                $("#bodyAndFooterModal .modal-bodyAndFooter").html(data);
                $('#bodyAndFooterModal').modal('show');
            },
        });
    }


    function showCreditToken(clickedElement) {
        $("#bodyAndFooterModal .modal-title").html($(clickedElement).attr("data-title"));
        var dataid = $(clickedElement).attr("data-id");
        showCreditTokenAjax(dataid);
    }


    function showCreditTokenAjax(dataId) {
        var link = '@Url.Action("_PartialCreditToken", "Users", new { id ="-1"})'
        link = link.replace("-1", dataId);

        $.ajax({
            type: "GET",
            url: link,
            error: function(data)
            {},
            success: function (data) {
                $("#bodyAndFooterModal .modal-bodyAndFooter").html(data);
                $('#bodyAndFooterModal').modal('show');
            },
        });
    }



    function showDetailsSympathizer(clickedElement) {
        $("#bodyAndFooterModal .modal-title").html($(clickedElement).attr("data-title"));
        var dataid = $(clickedElement).attr("data-id");
        showDetailsSympathizerAjax(dataid);
    }

    function showDetailsSympathizerAjax(dataId) {
        var link = '@Url.Action("_PartialDetailsSympathizer", "Users", new { id = "-1"})'
        link = link.replace("-1", dataId);

        $.ajax({
            type: "GET",
            url: link,
            error: function(data)
            {},
            success: function (data) {
                $("#bodyAndFooterModal .modal-bodyAndFooter").html(data);
                $('#bodyAndFooterModal').modal('show');
            },
        });
    }


    function showCreateSympathizer(clickedElement) {
        $("#bodyAndFooterModal .modal-title").html($(clickedElement).attr("data-title"));
        var dataid = $(clickedElement).attr("data-id");
        showCreateSympathizerAjax(dataid);
    }

    function showCreateSympathizerAjax(dataid) {
        var link = '@Url.Action("_PartialCreateSympathizer", "Users", new { stolonId = "-1"})'
        link = link.replace("-1", dataid);

        $.ajax({
            type: "GET",
            url: link,
            error: function(data)
            {},
            success: function (data) {
                $("#bodyAndFooterModal .modal-bodyAndFooter").html(data);
                $('#bodyAndFooterModal').modal('show');
            },
        });
    }


    function showEditSympathizer(clickedElement) {
        $("#bodyAndFooterModal .modal-title").html($(clickedElement).attr("data-title"));
        var dataid = $(clickedElement).attr("data-id");
        showEditSympathizerAjax(dataid);
    }

     function showEditSympathizerAjax(dataId) {
        var link = '@Url.Action("_PartialEditSympathizer", "Users", new { id ="-1"})'
        link = link.replace("-1", dataId);

        $.ajax({
            type: "GET",
            url: link,
            error: function(data)
            {},
            success: function (data) {
                $("#bodyAndFooterModal .modal-bodyAndFooter").html(data);
                $('#bodyAndFooterModal').modal('show');
            },
        });
    }



</script>
