@using Stolons.ViewModels.Adherents
@model AdherentStolonViewModel



<div class="dropdown">
    <a class="dropdown-toggle btn btn-small btn-default" data-toggle="dropdown" href="#">
        Actions
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a asp-action="ShowBills" asp-route-id="@Model.AdherentStolon.Id">Voir factures</a></li>
        <li><a href="#" data-target="" onclick="showDetailsAdherent(this);" data-id="@Model.AdherentStolon.Id" data-title="@("Détail de " + Model.AdherentStolon.Adherent.Surname +" "+Model.AdherentStolon.Adherent.Name)">Voir détail</a></li>
        <li><a href="#" data-target="" onclick="showEditAdherent(this);" data-id="@Model.AdherentStolon.Id" data-title="@("Modification de " + Model.AdherentStolon.Adherent.Surname +" "+Model.AdherentStolon.Adherent.Name)">Modifier</a></li>
        <li><a href="#" data-target="" onclick="showCreditToken(this);" data-id="@Model.AdherentStolon.Id" data-title="@("Créditer des stols à " + Model.AdherentStolon.Adherent.Surname +" "+Model.AdherentStolon.Adherent.Name)">Créditer des stols</a></li>
        @if (Model.AdherentStolon.SubscriptionPaid == false)
        {
            <li>
                @Html.ActionLink(
                                   "Payer cotisation de : " + Model.AdherentStolon.GetStringSubscriptionAmount(),
                                   "PaySubscription",
                                   "Users",
                                    new { id = Model.AdherentStolon.Id },
                                    new { onclick = "return confirm('Valider le paiement de la cotisation de " + Model.AdherentStolon.Adherent.Name + " pour un montant de : " + Model.AdherentStolon.GetStringSubscriptionAmount() + "');" })
            </li>
        }
        @if (Model.ActiveAdherentStolon.Authorized(Role.Admin))
        {
            @if (Model.AdherentStolon.Enable == true)
            {
                <li><a href="#" onclick="showDisableAccount(this);" data-id="@Model.AdherentStolon.Id" data-title="@("Désactivation du compte de " + Model.AdherentStolon.Adherent.Surname +" "+Model.AdherentStolon.Adherent.Name)">Désactiver le compte</a></li>
            }
            else
            {
                <li>
                    @Html.ActionLink(
                                   "Activer le compte",
                                   "Enable",
                                   "Users",
                                    new { id = Model.AdherentStolon.Id },
                                    new { onclick = "return confirm('Confirmation de l'activation du compte de " + Model.AdherentStolon.Adherent.Name + " ?');" })
                </li>
            }

            <li>
                @Html.ActionLink(
                                   "Supprimer",
                                   "DeleteAdherent",
                                   "Users",
                                    new { id = Model.AdherentStolon.Id },
                                    new { onclick = "return confirm('Êtes vous sur de vouloir supprimer le comtpe de " + Model.AdherentStolon.Adherent.Name + " ?');" })
            </li>
        }
    </ul>
</div>
