@model Stolons.ViewModels.Sympathizers.SympathizerViewModel

<div id="adherent-details-wrapper">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizer.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizer.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizer.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizer.PostCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizer.ReceivedInformationsEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizer.ReceivedInformationsEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizer.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizer.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sympathizer.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sympathizer.RegistrationDate)
        </dd>
    </dl>
</div>