@using Stolons.ViewModels.Adherents
@model AdherentStolonViewModel

@if (Model.ActiveAdherentStolon.Authorized(Role.Admin))
{
    <div class="dropdown">
        <a class="dropdown-toggle btn btn-small btn-default" data-toggle="dropdown" href="#">
            @Html.DisplayFor(x => x.AdherentStolon.Role)
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @if (Model.AdherentStolon.Role != Role.Adherent && Model.ActiveAdherentStolon.Authorized(Role.Admin))
            {
                <li><a asp-action="SetAsAdherent" asp-controller="Users" asp-route-id="@Model.AdherentStolon.Id">Passer adhérent</a></li>
            }
            @if (Model.AdherentStolon.Role != Role.Volunteer && Model.ActiveAdherentStolon.Authorized(Role.Admin))
            {
                <li><a asp-action="SetAsVolunteer" asp-controller="Users" asp-route-id="@Model.AdherentStolon.Id">Passer bénévole</a></li>
            }
            @if (Model.AdherentStolon.Role != Role.Admin && Model.ActiveAdherentStolon.Authorized(Role.Admin))
            {
                <li><a asp-action="SetAsAdmin" asp-controller="Users" asp-route-id="@Model.AdherentStolon.Id">Passer administrateur du stolon</a></li>
            }
            @if (Model.AdherentStolon.Adherent.IsWebAdmin && Model.ActiveAdherentStolon.Adherent.IsWebAdmin)
            {
                <li><a asp-action="UnSetAsWebAdmin" asp-controller="Users" asp-route-id="@Model.AdherentStolon.Id">Enlever les droits d'administrateur web</a></li>
            }
            @if (!Model.AdherentStolon.Adherent.IsWebAdmin && Model.ActiveAdherentStolon.Adherent.IsWebAdmin)
            {
                <li><a asp-action="SetAsWebAdmin" asp-controller="Users" asp-route-id="@Model.AdherentStolon.Id">Passer administrateur du site web et des stolons</a></li>
            }
            @if (!Model.AdherentStolon.IsProducer && Model.ActiveAdherentStolon.Authorized(Role.Admin))
            {
                <li><a asp-action="SetAsProducer" asp-controller="Users" asp-route-id="@Model.AdherentStolon.Id">Passer producteur</a></li>
            }
            @if (Model.AdherentStolon.IsProducer && Model.ActiveAdherentStolon.Authorized(Role.Admin))
            {
                <li><a asp-action="SetAsConsumer" asp-controller="Users" asp-route-id="@Model.AdherentStolon.Id">Passer consomateur</a></li>
            }
        </ul>
    </div>
}
else
{
    @Html.DisplayFor(x => x.AdherentStolon.Role)
}


    