@model IEnumerable<Stolons.Models.Users.IAdherent>


<table class="table">
    <thead>
	<tr>
            <th>
		@Html.DisplayNameFor(item => item.Name)
            </th>
            <th>
		@Html.DisplayNameFor(item => item.Surname)
            </th>
            <th>
		@Html.DisplayNameFor(item => item.PostCode)
            </th>
            <th>
		@Html.DisplayNameFor(item => item.Email)
            </th>
            <th></th>
	</tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.PostCode)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Email)
            </th>
            <th></th>
        </tr>
    }
    </tbody>
</table>

