@using System.Security.Claims
@using Stolons.Services
@using Stolons.ViewModels.Mails

@model MailsSendedVm

@{
    ViewData["Title"] = "Rapport d'envoi";
}

<h2>Votre courriel viens de partir   =<i class="far fa-envelope"></i></h2>

<p style="color:green;">Le courriel vient d'être envoyé  aux @Model.Adherents.Count utilisateurs</p>


<h2>Aperçu du courriel envoyé</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.MailMessage.Title)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.MailMessage.Title)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.MailMessage.Message)
    </dt>
    <dd>
        @Html.Raw(Model.MailMessage.Message)
    </dd>
</dl>

