@model ApplicationConfig
@using Stolons.Helpers;


<h2>Configuration du site web</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StolonsLabel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StolonsLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactMailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactMailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChroniumFullPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChroniumFullPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailPort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailPort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailSmtp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailSmtp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsInMaintenance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsInMaintenance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceMessage)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" class="btn btn-small btn-default">Modifier</a>
</p>
