@using Stolons.ViewModels.Stolons;
@model StolonsViewModel


<h1>Les Stolons</h1>

<a href="#" onclick="showAddStolon(this);" data-title="Ajout d'un Stolon"  class="btn btn-small btn-default">Ajouter un nouveau Stolon</a>

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        @foreach (var adherentStolon in Model.AdherentsViewModel.OrderBy(x => x.Stolon.Label))
        {
            <li>
                <a data-toggle="tab" href="#@adherentStolon.Stolon.Id">
                    @adherentStolon.Stolon.Label
                    <img src="@adherentStolon.Stolon.LogoFilePath" class="responsiveImage stolon-avatar" />           
                </a>
            </li>
        }
    </ul>
</div>

<div class="tab-content">
    @{
        foreach (var adherentStolon in Model.AdherentsViewModel)
        {
            <div id="@adherentStolon.Stolon.Id" class="tab-pane">
                <h1>@adherentStolon.Stolon.Label</h1>
                @Html.Partial("StolonActions", new StolonViewModel(Model.ActiveAdherentStolon, adherentStolon.Stolon))
                <h2>Contact</h2>
                <div>
                    <p class="information">@Html.Raw(adherentStolon.Stolon.Address)</p>
                    <p>@adherentStolon.Stolon.ContactMailAddress</p>
                    <p>@adherentStolon.Stolon.PhoneNumber</p>
                </div>
                <h2>Détails</h2>
                <div>
                    @Html.Partial("DetailsStolon", new StolonViewModel(Model.ActiveAdherentStolon,adherentStolon.Stolon))
                </div>
                <h2>Membres</h2>
                <div>
                    @Html.Partial("../Users/Adherents", adherentStolon)
                </div>
            </div>
        }
    }
</div>

<script>
    function showAddStolon(clickedElement) {
        $("#bodyAndFooterModal .modal-title").html($(clickedElement).attr("data-title"));
        showAddStolonAjax();
    }

    function showAddStolonAjax() {
        var link = '@Html.Raw(Url.Action("_PartialCreateStolon", "Stolons"))'

        $.ajax({
            type: "GET",
            url: link,
            error: function(data)
            {},
            success: function (data) {
                $("#bodyAndFooterModal .modal-bodyAndFooter").html(data);
                $('#bodyAndFooterModal').modal('show');
            },
        });
    }
</script>